[submodule "lib/heltec"]
	path = lib/heltec
	url = https://github.com/HelTecAutomation/Heltec_ESP32.git
[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = https://github.com/jgromes/RadioLib.git
[submodule "lib/uc-log"]
	path = lib/uc-log
	url = https://github.com/sadfsdgsg/uc-log.git
